.about-section {
    background: linear-gradient(to bottom, $back-25 0, $back-1 75%, $back-15 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding: 10rem 0;
}